<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>科室管理</title>
<link rel="stylesheet" href="css/main.css"/>
 <link rel="stylesheet" href="layer/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <script src="layer/layui.js"></script>
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/vue.js"></script>
</head>
<body>
<ul class="layui-nav">
    <li class="layui-nav-item"><a onclick="skip('doctor')">医生管理</a></li>
    <li class="layui-nav-item"><a onclick="skip('department')">科室管理</a></li>
    <script>
        function skip(v) {
            window.open(v)
        }
    </script>
</ul>
	<div id="main" class="main">
        <div class="searchDiv">
        	<div class="lsearchDiv-div" style="width:400px">
                <label class="layui-form-label">科室名称：</label>
                 <input type="text" v-model="param.departmentName" name="title"    placeholder="输入科室名称"  class="layui-input">
           	</div>
            <div class="lsearchDiv-div">
               <button class="layui-btn" style="margin-left:40px" @click="init(true)">查询</button>
                <button class="layui-btn" @click="addNewInfo()">添加新科室</button>
            </div>
        </div>
        <div class="tableDiv">
            <table class="layui-table">
                <thead>
                <tr>
                    <th>科室名称</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item,index) in tableInfo">
                    <td :title="item.departmentName">{{item.departmentName}}</td>
                     <td>
                        <img src="img/table-edit.png"  @click="edit(item)" title="编辑"/>
                        <img src="img/table-delete.png"  @click="del(item.id)" title="删除"/>
                    </td>
                </tr>
                </tbody>
            </table>
            <div id="page"></div>
        </div>

       
		<div class="newUser" id="newInfo" style="display:none">
             <div>
                <label class="layui-form-label">科室名称：</label>
                <input class="layui-input"  v-model="newParam.departmentName">
            </div>
            <div class="buttonDiv">
            <button class="layui-btn" @click="addNew()">确定</button>
            <button class="layui-btn" @click="closeWin()">取消</button>
            </div>
         </div>
         
         
          <div class="newUser" id="editInfo" style="display:none">
           <div>
                <label class="layui-form-label">科室名称：</label>
                <input class="layui-input"  v-model="editParam.departmentName">
            </div>
            <div class="buttonDiv">
            <button class="layui-btn" @click="update()">确定</button>
            <button class="layui-btn" @click="closeWin()">取消</button>
            </div>
        </div>
    </div>
    <script src="js/department.js"></script>
</body>
</html>